<a href="https://colab.research.google.com/github/yk-Jeong/AI_study/blob/main/1%EC%A3%BC%EC%B0%A8_%EB%AF%B8%EC%85%98_%EB%BF%85%EB%BF%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. 파이썬에서는 리스트 형태의 데이터를 자주 사용합니다. 그래서 리스트를 잘 다루는 것이 중요한데, 다음으로 주어진 리스트 데이터를 다뤄봅시다.😎

- 다양한 데이터를 수집해서 아래와 같은 num_list를 얻었습니다.
- 하지만 우리에게 필요한 데이터는 홀수 데이터입니다.
- 그렇다면 num_list 가 홀수인 데이터만 출력하도록 하는 함수를 작성해보세요.

In [ ]:
# 주어진 리스트
num_list = [1, 5, 7, 15, 16, 22, 28, 29]

In [ ]:
def get_odd_num(num_list):
  odd_num = [item for item in num_list if (item % 2) != 0]
  return odd_num

print(get_odd_num(num_list))

[1, 5, 7, 15, 29]

Q2. 데이터 처리를 위해서 문자열을 입력받았습니다. 그런데, 문자열을 받았더니 단어 단위로 거꾸로 입력되었습니다. 이를 다시 원래대로 출력하는 함수를 작성해보세요.😎

- string 문장을 받아 단어를 역순으로 출력하는 함수를 작성하세요.
- string 연산을 이용해보세요.

In [ ]:
sentence = "way a is there will a is there where"

In [ ]:
def reverse_sentence(sentence):
  return ' '.join(sentence.split(' ')[::-1])  

print(reverse_sentence(sentence))

where there is a will there is a way

Q3. 이번 학기의 중간고사, 기말고사 점수가 발표되었습니다. 각 학생들의 점수가 튜플 형태로 저장되어 있고, 이를 포함한 리스트가 있습니다. 이를 이용해 각 학생들의 평균 점수를 출력하는 함수를 제작하세요. 😎

- 리스트와 반복문을 사용해 데이터를 불러오세요.
- 이를 이용해 각 학생별 평균을 구해보세요

In [ ]:
# 주어진 데이터

score = [(100, 100), (95, 90), (55, 60), (75, 80), (70, 70)]

In [ ]:
def get_avg(score):
  for i in range(len(score)):
    print(f'{i+1}번, 평균: {sum(score[i])/2}')

get_avg(score)

1번, 평균: 100.0
2번, 평균: 92.5
3번, 평균: 57.5
4번, 평균: 77.5
5번, 평균: 70.0

Q4. 두 개의 납품처에서 각각 과일과 야채들이 납품되었습니다. 이를 각각 물품의 개수를 나타내는 2개의 딕셔너리로 정리했습니다. 물품을 정리하기 위해서 2개의 딕셔너리 객체를 합쳐 출력하는 함수를 제작하세요.😎

- 중복되는 물품은 합쳐서 표시하세요.
- 각 딕셔너리 데이터의 데이터의 키값을 이용해 중복을 확인해보세요.

In [ ]:
dict_first = {'사과': 30, '배': 15, '감': 10, '포도': 10}
dict_second = {'사과': 5, '감': 25, '배': 15, '귤': 25}

In [ ]:
def merge_dict(dict_first, dict_second):
  from collections import Counter

  A = Counter(dict_first)
  B = Counter(dict_second)

  return print(A + B)

merge_dict(dict_first, dict_second)

Counter({'사과': 35, '감': 35, '배': 30, '귤': 25, '포도': 10})

Q5. 단어들을 입력받았는데, 자꾸만 숫자들이 섞여들어가는 문제가 있습니다. 이를 처리하기 위해서 함수에 string을 전달 받은 뒤, string 안에서의 숫자를 제거한 후 string만 남은 리스트를 출력하세요. 😎

- string 연산을 이용해서 문자열을 자르는 연산을 사용해보세요.

In [ ]:
inputs = "cat32dog16cow5"

In [ ]:
def find_string(inputs):
  answer = []

  for string in inputs:
    if string.isalpha():
      answer.append(string)
    elif string.isdigit():
      answer.append(',')

  answer = ''.join(answer)
  answer = list(answer.split(','))

  remove = ['']
  answer = [i for i in answer if i not in remove]

  return answer

In [ ]:
find_string(inputs)

['cat', 'dog', 'cow']